/* Basic Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #EBE9E1;
}

.hero {
    background-color: bisque;
    background-size: cover;
    background-position: center;
    
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.25rem;
}

.card img {
    height: 200px;
    object-fit: scale-down;
}

/* Footer */
footer {
    background-color: #212529;
}

/* Button Styles */
.btn-primary {
    background-color: grey;
    border-color: grey;
}

.btn-primary:hover {
    background-color: grey;
    border-color: grey;
}
.custom-hero {
    background-color: gray; 
}